// colors
$primary-color: #D93F38;
$secondary-color: #D93F38;
$tertiary-color: #337ab7;

// palettes
$default-color: #606060;
$error-color: #E01F22;
$success-color: #398712;
$warning-color: #ffc249;
$processing-color: #0A76DB;

// font
$font-family: 'Open Sans', sans-serif;