{% extends 'layouts/default.html.twig' %}

{% block title %}
    Página não encontrada
{% endblock %}

{% block content %}
    <span>Page <strong>{{ page.title }}</strong> Not Found! </span>
{% endblock %}
