
<aside class="theflashapp__navbar margin__1--left">
    <a href="/" class="theflashapp__navbar-item theflashapp__navbar-item--active"> Home </a>
    <a href="/example" class="theflashapp__navbar-item {% if menuIs == 'example' %}theflashapp__navbar-item--active{% endif %}"> Example </a>
    <a href="/example-private" class="theflashapp__navbar-item {% if menuIs == 'example' %}theflashapp__navbar-item--active{% endif %}"> Necessary Login </a>
    <a href="/privacy-policy" class="theflashapp__navbar-item {% if menuIs == 'privacy-policy' %}theflashapp__navbar-item--active{% endif %}"> Policy </a>
    <a href="/redirect" class="theflashapp__navbar-item {% if menuIs == 'redirect' %}theflashapp__navbar-item--active{% endif %}"> Redirect </a>
</aside>
