
<section id="content-hero" class="flex flex__column flex__wrap">
    {% include "partials/content-hero/breadcrumb.html.twig" %}

    <div class="flex flex__between flex__wrap">
        <div class="flex flex__wrap flex__items--center">
            <h1> {{ title }} </h1>
            <div id="content-hero-additional-info" class="flex flex__wrap flex__items--center">
                <div style="width: 200px"><div class="skeleton"></div></div>
            </div>
        </div>
        <div id="content-hero-actions" class="flex flex__wrap flex__items--center">
            <div style="width: 200px"><div class="skeleton"></div></div>
        </div>
    </div>
</section>