{% extends 'layouts/default.html.twig' %}

{% block title %}
    Exemplo
{% endblock %}

{% block content %}
    <h5>
        Dicas importantes:

        <br>
        <br>

        - Crie os componentes com o background color "Branco" para dar o destaque necessário!
    </h5>
{% endblock %}
